#button1 {
  -fx-background-color: white;
  -fx-text-fill: black;
}

#button1:hover {
  -fx-background-color: #4CAF50; 
  -fx-text-fill: white;
}
#button2 {
  -fx-background-color: white;
  -fx-text-fill: black;
}

#button2:hover {
  -fx-background-color: #ff4d4d; 
  -fx-text-fill: white;
}
#button3 {
  -fx-background-color: white;
  -fx-text-fill: black;
}

#button3:hover {
  -fx-background-color: #3399ff ; 
  -fx-text-fill: white;
}
#button4 {
  -fx-background-color: white;
  -fx-text-fill: black;
}

#button4:hover {
  -fx-background-color: #4CAF50; 
  -fx-text-fill: white;
}
#button5 {
  -fx-background-color: white;
  -fx-text-fill: black;
}

#button5:hover {
  -fx-background-color: #ff4d4d; 
  -fx-text-fill: white;
}
#button6 {
  -fx-background-color: white;
  -fx-text-fill: black;
}

#button6:hover {
  -fx-background-color: #3399ff ; 
  -fx-text-fill: white;
}
#button7 {
  -fx-background-color: white;
  -fx-text-fill: black;
}

#button7:hover {
  -fx-background-color: #4CAF50; 
  -fx-text-fill: white;
}
#button8 {
  -fx-background-color: white;
  -fx-text-fill: black;
}

#button8:hover {
  -fx-background-color: #ff4d4d; 
  -fx-text-fill: white;
}
#button9 {
  -fx-background-color: white;
  -fx-text-fill: black;
}

#button9:hover {
  -fx-background-color: #3399ff ; 
  -fx-text-fill: white;
}
#button10 {
  -fx-background-color: white;
  -fx-text-fill: black;
}

#button10:hover {
  -fx-background-color: #4CAF50; 
  -fx-text-fill: white;
}
#button12 {
  -fx-background-color: white;
  -fx-text-fill: black;
}

#button12:hover {
  -fx-background-color: #ff4d4d; 
  -fx-text-fill: white;
}
#button11 {
  -fx-background-color: white;
  -fx-text-fill: black;
}

#button11:hover {
  -fx-background-color: #3399ff ; 
  -fx-text-fill: white;
}

